name: build kernel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: apt
      working-directory: ./linux
      run: sudo apt install python3-pip
    - name: pip-sphinx
      working-directory: ./linux
      run: sudo pip install -r ./Documentation/sphinx/requirements.txt
    - name: xml-docs
      working-directory: ./linux
      run: make xmldocs
